@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.18s ease-out;
}

/* 캘린더 전체 */
.react-calendar {
  width: 420px;
  max-width: 100%;
  background: white;
  border: none;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding: 20px;
  font-family: pretendard, sans-serif;
}

/* 네비게이션 (월 변경 버튼) */
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.react-calendar__navigation button {
  color: #333;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 10px;
  transition: 0.2s;
}

.react-calendar__navigation button:hover {
  background-color: #f1f5f9;
}

/* 요일 */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #64748b;
  margin-bottom: 10px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 6px 0;
}

/* 밑줄 삭제 */
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

/* 날짜 타일 */
.react-calendar__tile {
  height: 60px;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 18px;
}

/* 날짜 hover */
.react-calendar__tile:hover {
  background-color: #e2e8f0;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  background: #e0f2fe !important;
  color: #0284c7 !important;
  border-radius: 10px;
}

/* 선택된 날짜 */
.react-calendar__tile--active {
  background: #3b82f6 !important;
  color: white !important;
  border-radius: 10px;
}

/* 일정 있는 날짜 표시 점 스타일 */
.schedule-dot {
  margin-top: 4px;
  color: #2563eb;
  font-size: 14px;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
